<div class="d-flex justify-content-lg-start p-2">
  <ng-template [ngIf]="user">
    <div class="card flex justify-content-center">
      <p-card header="{{user.userName}}" subheader="{{user.email}}"
              (click)="onReadUserDetail(user.id)"
              [style]="{cursor: 'pointer'}"
      >
        <ng-template pTemplate="header">
          <img alt="Card" [src]="avatar" width="496" height="279"/>
        </ng-template>
        <p>
          <strong>{{'Quê quán: '}}</strong>
          {{user.homeTown ? user.homeTown : 'Chưa có thông tin'}}
        </p>
        <p>
          <strong>{{'Ngày sinh: '}}</strong>
          {{user.birthday ? user.birthday : 'Chưa có thông tin'}}
        </p>
        <p>
          <strong>{{'Giới tính: '}}</strong>
          {{user.gender ? user.gender : 'Chưa có thông tin'}}
        </p>
        <ng-template pTemplate="footer">
          <p-button label="Kích hoạt" icon="pi pi-check" (onClick)="onDeactivate(this.user.id)"></p-button>
          <p-button label="Hủy" icon="pi pi-times" styleClass="p-button-secondary"
                    [style]="{ 'margin-left': '.5em' }" (onClick)="onDeactivate(this.user.id)"></p-button>
        </ng-template>
      </p-card>
    </div>
  </ng-template>
</div>
